@font-face {
  font-family: 'TitleFont';
  src: url('./TitleFont.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ContentFont';
  src: url('./ContentFont.ttf');
  font-weight: normal;
  font-style: normal;
}