@font-face {
  font-family: 'TitleFont';
  src: url('./TitleFont.ttf');
  font-weight: normal;
  font-style: normal;
}
/* 
@font-face {
  font-family: 'ContentFont';
  src: url('./ContentFont.ttf');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "ContentFont";
  src: url("ContentFont.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}