@font-face {
	font-family: "TitleFont";
	src: url("https://monopoly-static-1304992673.cos.ap-guangzhou.myqcloud.com/TitleFont.ttf");
	font-weight: normal;
	font-style: normal;
}
/*
@font-face {
  font-family: 'ContentFont';
  src: url('./ContentFont.ttf');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
	font-family: "ContentFont";
	src: url("https://monopoly-static-1304992673.cos.ap-guangzhou.myqcloud.com/ContentFont.woff2") format("woff");
	font-style: normal;
	font-weight: normal;
}
